.idea/
/casino-app-backend/node_modules/
/casino-app-backend/package-lock.json
/casino-app-backend/dist
/casino-app-frontend/node_modules/
/casino-app-frontend/build

package-lock.json
.idea
/casino-shared-npm/dist/
/casino-shared-npm/node_modules/
