.paginator {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .page-link {
    color: $primary-color;
    padding: 4px 6px;
    margin: 0 2px;
    text-decoration: none;
    border: 1px solid $primary-color;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: lighten($primary-color, 40%);
    }

    &.active {
      background-color: $primary-color;
      color: white;
    }
  }
}
